
div, p, a, span, img, header, ul, li {
  margin: 0;
  padding: 0;
}
.card {
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-sizing: border-box;
}
.mza {
  margin: 0 auto;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.ml5 {
  margin-left: 5px;
}
.vm {
  vertical-align: middle;
  display: inline-block;
}
.ovh {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
